<div class="content-wrapper">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<h1 class="display-4 text-center">Step {{step.title}}</h1>
	
				<h2 class="font-weight-normal">Getting Started</h2>
				
				<div class="alert alert-success">
					<p>If you're reading these instructions, you have successfully set up Node.js, http-server, and are serving the <code>./instructions</code> folder from your computer</p>
				</div>
			</div>
		</div>
	</div>
</div>

<nav class="step-nav text-center bg-dark">
	<div class="flex flex-align-center flex-justify-between height-100 width-100" role="group" aria-label="Lab Steps">
		<button type="button" class="btn btn-primary" ng-click="step.prevStep(step.step)" ng-disabled="step.step == 1">Back</button>
		<!--<div class="btn btn-light">{{step.step}}</div>-->
		<button type="button" class="btn btn-primary" ng-click="step.nextStep(step.step)" ng-disabled="step.step == config.lab.steps">Next</button>
	</div>

	<div class="step-nav-progress">
		<div class="step-nav-progress__track">
			<div class="step-nav-progress__slider" ng-style="{'width': step.step/config.lab.steps*100 + '%'}"></div>
		</div>
	</div>
</nav>