<div class="content-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1 class="display-4 text-center">Step {{step.title}}</h1>
        
                    <h2 class="font-weight-normal">Modal Close Button</h2>
                    
                    <p>A modal appears when a video is clicked. Clicking the close button should destroy the modal now to</p>

                    <ul>
                        <li>Attach a click event handler to the modal's close button</li>
                        <li>Set the inner HTML of the modal player to be nothing. <i>Effectively, the iframe created in the previous step will now be removed from the DOM</i></li>
                        <li>Remove the class <b>visible</b> on the modal</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
    <nav class="step-nav text-center bg-dark">
        <div class="flex flex-align-center flex-justify-between height-100 width-100" role="group" aria-label="Lab Steps">
            <button type="button" class="btn btn-primary" ng-click="step.prevStep(step.step)" ng-disabled="step.step == 1">Back</button>
            <!--<div class="btn btn-light">{{step.step}}</div>-->
            <button type="button" class="btn btn-primary" ng-click="step.nextStep(step.step)" ng-disabled="step.step == config.lab.steps">Next</button>
        </div>
    
        <div class="step-nav-progress">
            <div class="step-nav-progress__track">
                <div class="step-nav-progress__slider" ng-style="{'width': step.step/config.lab.steps*100 + '%'}"></div>
            </div>
        </div>
    </nav>